
*.cache
/CQRSBookingKata/obj
/CQRSBookingKata.API/bin
/.vs/CQRSBookingKata/FileContentIndex
/CQRSBookingKata.API/obj
/CQRSBookingKata.Tests/obj
*.ncrunchsolution
CQRSBookingKata.v3.ncrunchsolution.user
/CQRSBookingKata/bin
/.vs/ProjectEvaluation
/.vs
*.DotSettings
/CQRSBookingKata.Tests/bin
/CQRSBookingKata.Tests/bin
/CQRSBookingKata.Tests/bin/Debug
/CQRSBookingKata.ThirdParty/obj
/FakeTime.Contracts/bin
/FakeTime.Contracts/obj
/MessageQueue.Contracts/obj
/MessageQueue/bin
/MessageQueue/obj
/MessageQueue.Contracts/bin
/FakeTime/obj
/FakeTime/bin
