.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-right: 5px;
    display: none;

    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  }
  
  @keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
  }  
  
  .button-label {
    font-size: 14px; /* Adjust as needed */
  }



.glow-on-hover:before {
  
}
